<%= form_for(@micropost) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Whats the plan ?" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>