<div class="center borderBox">
    <div class="row-fluid">
      <div class="span2">    
      </div>
      <div class="center">
        <div class="span10">
          <h2>Learn How to Use this Platform</h2>
          <p>
            Links to tutorials on how to use all the features here.</p>
           <p> A channel of teaching the software available here to.</p>
           <p> You can watch tutorials or you can search topics and we'll make you a channel to watch.</p>
        </div>
      </div>
    </div>
</div>