<ul id="filters" class="filters tabsList">
  <li class="filterAll">
    <div class="cornered">
      <div class="backgroundTab">
        <h1>
          <a href="#" data-filter="*">All</a>
        </h1>
      </div>
    </div>
  </li>

  <li class="filterActive">
    <div class="cornered">
      <div class="backgroundTab">
        <h1>
          <a href="#" data-filter=".active">Active</a>
        </h1>
      </div>
    </div>
  </li>

  <li class="filterComplete">
    <div class="cornered">
      <div class="backgroundTab">
        <h1>
          <a href="#" data-filter=".completed">Completed</a>
        </h1>
      </div>
    </div>
  </li>
</ul>