<ul id="filters" class="filters tabsList">
  <li>
    <div class="cornered">
      <div class="backgroundTab">
        <h1 class="allFilter">
          <a href="#" data-filter="*">All</a>
        </h1>
      </div>
    </div>
  </li>

  <li>
    <div class="cornered">
      <div class="backgroundTab">
        <h1 class="activeFilter">
          <a href="#" data-filter=".active">Open</a>
        </h1>
      </div>
    </div>
  </li>

  <li>
    <div class="cornered">
      <div class="backgroundTab">
        <h1 class="activeFilter">
          <a href="#" data-filter=".recent">Recent</a>
        </h1>
      </div>
    </div>
  </li>

  <li>
    <div class="cornered">
      <div class="backgroundTab">
        <h1 class="completedFilter">
          <a href="#" data-filter=".completed">History</a>
        </h1>
      </div>
    </div>
  </li>

  <li>
    <div class="cornered">
      <div class="backgroundTab">
        <h1 class="completedFilter">
          <a href="#" data-filter=".drink">Drinks</a>
        </h1>
      </div>
    </div>
  </li>
</ul>